# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out
build

# Env files
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Testing
coverage

# Typescript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# Prisma
prisma/migrations/*_migration_lock.toml

# Storage (local dev)
storage/
